{%- assign meta_block = section.blocks | where: 'type', 'product_meta' | first -%}
{%- assign share_buttons_block = section.blocks | where: 'type', 'share_buttons' | first -%}
{%- assign inventory_block = section.blocks | where: 'type', 'inventory' | first -%}
{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- capture section_settings -%}
  {
  "enableHistoryState": true,
  "templateSuffix": {{ product.template_suffix | json }},
  "showInventoryQuantity": {% if inventory_block != blank %}true{% else %}false{% endif %},
  "showSku": {{ meta_block.settings.show_sku | json }},
  "stackProductImages": {{ section.settings.stack_images | json }},
  "showThumbnails": {{ section.settings.show_thumbnails | json }},
  "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
  "inventoryQuantityThreshold": {{ inventory_block.settings.inventory_quantity_threshold | default: 0 }},
  "showPriceInButton": {{ buy_buttons_block.settings.show_price_in_button | json }},
  "enableImageZoom": {{ section.settings.enable_image_zoom | json }},
  "showPaymentButton": {{ buy_buttons_block.settings.show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
  }
{%- endcapture -%}

<script>
  // To power the recently viewed products section, we save the ID of the product inside the local storage
  (() => {
    let items = JSON.parse(localStorage.getItem('recentlyViewedProducts') || '[]');

    // We check if the current product already exists, and if it does not, we add it at the start
    if (! items.includes({{ product.id }})) {
      items.unshift({{ product.id }});
    }

    // Then, we save the current product into the local storage, by keeping only the 8 most recent
    try {
      localStorage.setItem('recentlyViewedProducts', JSON.stringify(items.slice(0, 8)));
    } catch (error) {
      // Do nothing, this may happen in Safari in incognito mode
    }
  })();
</script>
<link rel="stylesheet" href="{{ 'bootstrap-grid.css' | asset_url }}">
<link rel="stylesheet" href={{ 'bsicon.css' | asset_url }}>
<link rel="stylesheet" href= {{ 'choices.min.css' | asset_url }}>
<link rel="stylesheet" href="{{ 'bb.css' | asset_url }}">

{% comment %} < section class = "Product Product--{{ section.settings.image_size }}" data-section-id = "{{ section.id }}" data-section-type = "product" data-section-settings = '{{ section_settings }}' > {% endcomment %}
<div class="Container">
<div id="loading" class=" basic "></div>
<div id="bb_wrapper" class="bb_wrapper">
                <div class="step" step="1"><span class="left"><span class="step_num">1</span> Select Your Box Size</span>
                  <span class="right"><span id="box_size_wrapper"><span id="box_size" class="jd_box_size">2</span> piece box</span>
                  <span id="edit_size_btn_wrapper">
                    <button type="button" class="button Button Button--primary" id="edit_size_btn" style="display: none">EDIT SIZE</button></span>
                  <select class="button Button Button--primary choices" id="change_box_btn" data-placeholder="EDIT SIZE">Edit Size
                  <option value="EDIT SIZE" selected="selected">EDIT SIZE</option>
                  <option value="2">Design Your 2 piece box</option>2,4,9,18,27,36
                  <option value="4">Design Your 4 piece box</option>
                  {% comment %}<option value="6">Design Your 6 piece box</option>{% endcomment %}
                  <option value="9">Design Your 9 piece box</option>
                  <option value="18">Design Your 18 piece box</option>
                  <option value="27">Design Your 27 piece box</option>
                  <option value="36">Design Your 36 piece box</option>
                  {% comment %}<option value="12">Design Your 12 piece box</option>
                  <option value="24">Design Your 24 piece box</option>{% endcomment %}
                  </select></span>
                </div>
                <div id="sizes">

                </div>

                <div class="step" step="2"><span class="left step_num">2</span><span class="left">Select Our Flavors</span><span class="right"><span id="is_box_filled"></span>
                <button type="button" class="button Button Button--primary" id="edit_your_box_btn" style="display: none">Edit Your Box</button></span></div>
                <div id="step2_wrapper" class="row w100">
                  <div id="box_content" class="col" size="6">
                    <div class="f_none"><span class="jd_box_size">6</span> Piece Box</div>
                    <div><a id="change_box_size_a">Edit Your Box Size</a></div>
                    <div class="loader"></div>
                    <div id="bc_wrapper_sticky" class="">
                      <div class="bc_wrapper">
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      </div>
                      <button type="button" class="cont_next_step button Button Button--primary mt-2 cont_step_3" style="display: none">Continue Next Step</button>
                    </div>
                  </div>
                  <div id="box_content_m_wrapper">
                    <div class="bigtext">You have <span class="jd_spot_remain">6</span> spots remaining!</div>
                    <div class="subtitle">Click on chocolates below to add them to your box</div>
                  <div id="box_content_m" class="col">
                    <div class="bc_wrapper_m" style="width: 348px; max-width: 348px">
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      <div class="selected_f"><span class="del"></span></div>
                      </div>
                    </div>
                  </div>
                  <div id="flavors_border_m"></div>
                  <div id="flavor_picker" class="col ">
                    <div class="bigtext">You have <span class="jd_spot_remain">6</span> spots remaining!</div>
                    <div class="subtitle">Click on chocolates below to add them to your box</div>
                    <ul id="f_tags" class="Blog__TagList HorizontalList HorizontalList--spacingExtraLoose">
                      <li class="HorizontalList__Item">
                        <a class="Heading is-active Link Link--primary Text--subdued u-h8 ">all</a>
                      </li>
                      <li class="HorizontalList__Item">
                        <a class="Heading Link Link--primary Text--subdued u-h8 ">dark</a>
                      </li>
                      <li class="HorizontalList__Item">
                        <a class="Heading Link Link--primary Text--subdued u-h8 ">milk</a>
                      </li>
                      <li class="HorizontalList__Item">
                        <a class="Heading Link Link--primary Text--subdued u-h8 ">white</a>
                      </li>
                    </ul>
                    <div id="flavors">
                    </div>
                    <div id="detail_wrapper" data-f="1" style="display: none" class="modal">
                      <button type="button" class="tiny del modal_close_btn" id="dtl_close"></button>
                      <div id="detail" class="row">
                        <div class="col-4">
                          <img id="dtl_img" src="https://cdn.shopify.com/s/files/1/0523/0051/3467/files/f1.webp?v=1659677856" alt="detail">
                        </div>
                        <div class="col-8">
                          <span id="dtl_heading"></span>
                          <p id="dtl_description"></p>
                          <button id="dtl_select" type="button" class="Button Button--primary">Select</button>
                        </div>
                      </div>
                    </div>
                    <button id="cont_step_3_below_flavor" type="button" class="cont_next_step button Button Button--primary mt-2 cont_step_3" style="display: none">Continue Next Step</button>
                  </div>

                </div>
                <div id="step_sleeve" class="step" step="3"><span class="left"><span class="step_num">3</span> Choose Your Sleeve</span>
                  <span class="right"><span class="jd_sleeve_picked"></span>&nbsp;
                    <button type="button" class="button Button Button--primary" id="change_sleeve_btn" style="display: none">Change Sleeve</button></span></div>
                <div id="sleeve_wrapper">
                  <div class="bigtext">We have different styles to choose from!</div>
                  <div>Select your sleeve from the choices below. The sleeve will fit around your box</div>
                  <div id="sleeves">
                  </div>
                </div>
                <div id="prod_summary">
                  <div>
                    <span id="prod_name" class="text_bold">Build Your Own Box 6</span><b>: </b>
                    <span id="price">$120.00</span>
                  </div>
                  <div id="sum_flavors">Flavors picked: <span></span></div>
                  <div id="sum_sleeve">Sleeve picked: <span class="jd_sleeve_picked"></span></div>
                    {%- form 'product', product, data-productid: 7606402252987, class: 'ProductForm' -%}
                        {% comment %}<input type="hidden" name="properties[bb_note]" value="Build a box note">{% endcomment %}
                        <input type="hidden" name="first_variant" value="{{ product.variants.first.id }}">
                        <input type="hidden" name="first_variant" value="{{ product.variants.first.name }}">
                        {% comment %}Should have: 'form_type=product&utf8=%E2%9C%93&id=43200765952187&quantity=1&properties%5BTo%5D=&properties%5BFrom%5D=&properties%5BMessage%5D='{% endcomment %}
                        <button type="button" class="ProductForm__AddToCart Button Button--primary Button--full" id="add_to_cart_btn" disabled="disabled"><span>Add to cart</span>
                        </button>
                    {%- endform -%}

                </div>

                <!--                <div id="all_filled_modal" class="modal">-->
                <div id="all_filled_modal" class="modal" style="display: none">
                  <button type="button" class="tiny del" id="modal_close"></button>
                  <div id="modal_cont" class="row">
                    <p class="col-12 text_center md_heading">You have filled up your box</p>
                    <p class="col-12 text_center md_subtitle_big"><span class="jd_box_size">6</span> of <span class="jd_box_size">6</span> chocolates selected</p>
                    <div class="text_center">
                      <button class="button edit_box_btn Button reverse" type="button">Edit your selections</button>
                      <!--                      <button class="button clear_selections" type="button">Clear your selections</button>-->
                      <button class="button add_to_cart modal_close_btn Button Button--primary cont_step_3" type="button">Continue</button>
                    </div>
                  </div>
                </div>
                <!--                <div id="all_filled_modal" class="modal">-->
                <div id="edit_my_box_modal" class="modal" style="display: none">
                  <button type="button" class="tiny del modal_close modal_close_btn" id="edit_my_box_modal_close"></button>
                  <div class="modal_cont row">
                    <p class="col-12 text_center md_heading">Edit My Box</p>
                    <p class="col-12 text_center md_subtitle_big"><span class="jd_num_slot_filled">6</span> of <span class="jd_box_size">6</span> chocolates selected</p>
                    <div id="edpop_wrapper">

                    </div>
                    <div>
                      <button id="edpop_cont_step_3" class="button modal_close_btn Button Button--primary cont_step_3" type="button" disabled="disabled">Continue</button>
                    </div>
                  </div>
                </div>


              </div>
<!--              end bb_wrapper-->
</div>
{% comment %} </section > {% endcomment %}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
PHOTO SWIPE

This is the root container for the zoom functionality.Must not be removed, as order element is important.
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- if section.settings.enable_image_zoom -%}
  <div class = "pswp" tabindex = "-1" role = "dialog" aria-hidden = "true" >
  < !-- Background of PhotoSwipe -- >
  <div class = "pswp__bg" > </div>

  < !-- Slides wrapper with overflow: hidden.-- >
  <div class = "pswp__scroll-wrap" >

  < !-- Container that holds slides.Do not remove as content is dynamically added -- >
  <div class = "pswp__container" >
  <div class = "pswp__item" > </div>
  <div class = "pswp__item" > </div>
  <div class = "pswp__item" > </div>
  </div>

  < !-- Main UI bar -- >
  <div class = "pswp__ui pswp__ui--hidden" >
  <button class = "pswp__button pswp__button--prev RoundButton" data-animate-left title = "{{ 'product.slideshow.previous' | t }}" > {% render 'icon' with 'arrow-left' %} </button >
  <button class = "pswp__button pswp__button--close RoundButton RoundButton--large" data-animate-bottom title = "{{ 'product.slideshow.close' | t }}" > {% render 'icon' with 'close' %} </button >
  <button class = "pswp__button pswp__button--next RoundButton" data-animate-right title = "{{ 'product.slideshow.next' | t }}" > {% render 'icon' with 'arrow-right' %} </button >
  </div>
  </div>
  </div>
{%- endif -%}

<script>
window.ShopifyXR=window.ShopifyXR || function(){(ShopifyXR.q=ShopifyXR.q || []).push(arguments)};
ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script>

<script src="{{ 'constant.js' | asset_url }}" type="application/javascript"></script>
<script src="{{ 'choices.min.js' | asset_url }}" type="application/javascript"></script>
<script src="{{ 'bb.js' | asset_url }}" type="application/javascript"></script>


{% schema %}
{
  "name": "Product bb page",
  "class": "shopify-section--bordered",
  "blocks": [
    {
      "type": "product_meta",
      "name": "Product meta",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sku",
          "label": "Show SKU",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_product_rating",
          "label": "Show product rating",
          "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/products/product-reviews/installation)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_taxes_included",
          "label": "Show price taxes notice",
          "default": false
        }
      ]
    },
    {
      "type": "variant_selector",
      "name": "Variant selector",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "selector_mode",
          "label": "Selector type",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "dropdown"
        },
        {
          "type": "checkbox",
          "id": "show_color_swatch",
          "label": "Show color swatch",
          "default": false,
          "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch)."
        },
        {
          "type": "checkbox",
          "id": "show_color_carousel",
          "label": "Show color carousel",
          "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
          "default": false
        },
        {
          "type": "page",
          "id": "size_chart",
          "label": "Size chart",
          "info": "Show along option named Size."
        }
      ]
    },
    {
      "type": "share_buttons",
      "name": "Share buttons",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "inventory_quantity_threshold",
          "label": "Inventory quantity threshold",
          "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
          "min": 0,
          "max": 50,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_price_in_button",
          "label": "Show price in add to cart button",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "paragraph",
          "content": "This Liquid code will show on the right part of the product page."
        },
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_label",
          "label": "Show label",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "paragraph",
          "content": "This text will show on the right part of the product page."
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "store_pickup",
      "name": "Local pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)"
        }
      ]
    },
    {
      "type": "@app"
    },
    {
      "name": "Content",
      "type": "content",
      "settings": [
        {
          "type": "paragraph",
          "content": "This content will show on the left part, below the product images."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Content from page",
          "info": "If specified, takes precedence over inline content."
        }
      ]
    },
    {
      "name": "Reviews",
      "type": "reviews",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To show reviews, install [Shopify Product Reviews](https://apps.shopify.com/product-reviews). This content will show on the left part, below the product images. "
        }
      ]
    },
    {
      "name": "Buy it with",
      "type": "buy_it_with",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Buy it with"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill screen"
        }
      ],
      "default": "large"
    },
    {
      "type": "checkbox",
      "id": "stack_images",
      "label": "Stack images on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails",
      "label": "Show thumbnails on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    }
  ]
}
{% endschema %}
