{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "wrapAround": false,
  "contain": true,
  "cellAlign": "center",
  "watchCSS": true,
  "dragThreshold": 8,
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

{%- capture section_settings -%}
{
  "productId": {% if template.name == 'product' %}{{ product.id }}{% else %}null{% endif %}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="recently-viewed-products" data-section-settings='{{ section_settings }}'>
  {%- if section.settings.title != blank -%}
    <header class="SectionHeader SectionHeader--center">
      <div class="Container">
        <h3 class="SectionHeader__Heading Heading u-h3">{{ section.settings.title | escape }}</h3>
      </div>
    </header>
  {%- endif -%}

  {%- if template.name == 'search' -%}
    <div class="ProductListWrapper">
      <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
        {%- assign parsed_terms = search.terms | split: ' OR ' -%}

        {%- for parsed_term in parsed_terms -%}
          {%- assign id = parsed_term | split: 'id:' | last | times: 1 -%}

          {%- for product in search.results -%}
            {%- if product.id == id -%}
              <div class="Carousel__Cell">
                {% render 'product-item', product: product, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true, collection_handle: collection_handle, show_form: true %}
                {%- comment -%}b3t{%- endcomment -%}
                <form method="post" action="/cart/add.js" accept-charset="UTF-8" class="ProductForm" enctype="multipart/form-data">
                  <input type="hidden" name="quantity" value="1">
                  <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><div class="ProductForm__Variants">
                  {% assign current_variant = product.selected_or_first_available_variant %}
                  <input type="hidden" name="id" data-sku="{{ product.variants.first.id }}" value="{{ product.id }}"></div>
                  <button type="button" data-use-primary-button="false" class="ProductForm__AddToCart Button Button--secondary Button--full" data-action="add-to-cart2">
                    <span>Add to cart</span>
                  </button>


                </form>
  				{%- comment -%}b3t end{%- endcomment -%}
              </div>
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</section>

<script>
  //b3t
  function addItemToCart(variant_id, qty = 1, frequency = null, unit_type = null) {
    data = {
      "id": variant_id,
      "quantity": qty,
      "properties": {
        "shipping_interval_frequency": frequency,
        "shipping_interval_unit_type": unit_type
      },
      "form_type": 'product'
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function(cart_res) { 
        console.info(`cart response: `, cart_res)
        document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {bubbles: true }));
        $('a[data-drawer-id="sidebar-cart"]')[0].click()
      }
    });
  }
  
  setTimeout(function(){
      console.log( "b3t custom" );
      console.log(jQuery('button[data-action="add-to-cart2"]').length);
      jQuery('button[data-action="add-to-cart2"]').on('click',(e)=>{
        console.log('add to cart clicked', e)
        const form = $(e.target).closest('form')
        const sku = form.find('input[name="id"]').data('sku')
        addItemToCart(sku)
      });

  },1000); 
    
	
  
</script>

{% schema %}
{
  "name": "Recently viewed products",
  "class": "shopify-section--bordered shopify-section--hidden",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Recently viewed"
    },
    {
      "type": "checkbox",
      "id": "show_product_info",
      "label": "Show product info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Recently viewed products"
    }
  ]
}
{% endschema %}