<section class="Section Section--spacingNormal" id="section-{{ section.id }}">
    <div class="full_width">
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <header class="SectionHeader SectionHeader--center">
                {%- if section.settings.subheading != blank -%}
                    <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
                {%- endif -%}

                {%- if section.settings.title != blank -%}
                    <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
                {%- endif -%}
            </header>
        {%- endif -%}

        <div class="logos marquee ">
            <div class="marquee__inner" aria-hidden="true">
                {% if section.settings.logo1 != blank %}
                    {%- assign image_url = section.settings.logo1 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo1_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo2 != blank %}
                    {%- assign image_url = section.settings.logo2 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo2_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo" height="120px">
                {%- endif -%}
                {% if section.settings.logo3 != blank %}
                    {%- assign image_url = section.settings.logo3 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo3_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo4 != blank %}
                    {%- assign image_url = section.settings.logo4 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo4_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo5 != blank %}
                    {%- assign image_url = section.settings.logo5 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo5_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo6 != blank %}
                    {%- assign image_url = section.settings.logo6 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo6_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo7 != blank %}
                    {%- assign image_url = section.settings.logo7 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo7_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo8 != blank %}
                    {%- assign image_url = section.settings.logo8 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo8_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo9 != blank %}
                    {%- assign image_url = section.settings.logo9 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo9_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo10 != blank %}
                    {%- assign image_url = section.settings.logo10 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo10_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}

                {% comment %}repeat, back at logo1{% endcomment %}

                {% if section.settings.logo1 != blank %}
                    {%- assign image_url = section.settings.logo1 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo1_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo2 != blank %}
                    {%- assign image_url = section.settings.logo2 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo2_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo" height="120px">
                {%- endif -%}
                {% if section.settings.logo3 != blank %}
                    {%- assign image_url = section.settings.logo3 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo3_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo4 != blank %}
                    {%- assign image_url = section.settings.logo4 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo4_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo5 != blank %}
                    {%- assign image_url = section.settings.logo5 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo5_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo6 != blank %}
                    {%- assign image_url = section.settings.logo6 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo6_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo7 != blank %}
                    {%- assign image_url = section.settings.logo7 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo7_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo8 != blank %}
                    {%- assign image_url = section.settings.logo8 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo8_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo9 != blank %}
                    {%- assign image_url = section.settings.logo9 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo9_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo10 != blank %}
                    {%- assign image_url = section.settings.logo10 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo10_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}

                {% comment %}repeat one more time, from logo1{% endcomment %}
                {% if section.settings.logo1 != blank %}
                    {%- assign image_url = section.settings.logo1 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo1_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo2 != blank %}
                    {%- assign image_url = section.settings.logo2 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo2_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo" height="120px">
                {%- endif -%}
                {% if section.settings.logo3 != blank %}
                    {%- assign image_url = section.settings.logo3 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo3_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo4 != blank %}
                    {%- assign image_url = section.settings.logo4 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo4_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo5 != blank %}
                    {%- assign image_url = section.settings.logo5 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo5_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo6 != blank %}
                    {%- assign image_url = section.settings.logo6 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo6_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo7 != blank %}
                    {%- assign image_url = section.settings.logo7 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo7_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo8 != blank %}
                    {%- assign image_url = section.settings.logo8 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo8_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo9 != blank %}
                    {%- assign image_url = section.settings.logo9 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo9_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo10 != blank %}
                    {%- assign image_url = section.settings.logo10 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo10_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}

                {% comment %}repeat one more time, from logo1{% endcomment  %}
                {% if section.settings.logo1 != blank %}
                    {%- assign image_url = section.settings.logo1 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo1_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo2 != blank %}
                    {%- assign image_url = section.settings.logo2 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo2_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo" height="120px">
                {%- endif -%}
                {% if section.settings.logo3 != blank %}
                    {%- assign image_url = section.settings.logo3 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo3_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo4 != blank %}
                    {%- assign image_url = section.settings.logo4 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo4_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo5 != blank %}
                    {%- assign image_url = section.settings.logo5 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo5_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo6 != blank %}
                    {%- assign image_url = section.settings.logo6 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo6_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo7 != blank %}
                    {%- assign image_url = section.settings.logo7 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo7_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo8 != blank %}
                    {%- assign image_url = section.settings.logo8 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo8_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo9 != blank %}
                    {%- assign image_url = section.settings.logo9 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo9_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
                {% if section.settings.logo10 != blank %}
                    {%- assign image_url = section.settings.logo10 | img_url: 'master' -%}
                    <img data-url="{{ section.settings.logo10_url }}" data-src="{{ image_url }}" src="{{ image_url }}" alt="logo">
                {%- endif -%}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Shopped By",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Shopped By"
    },
    {
      "type": "html",
      "id": "html",
      "label": "List of logos",
      "default": "Select the logo images using buttons below"
    },
    {
      "type": "image_picker",
      "id": "logo1",
      "label": "Logo 1"
    },
    {
      "type": "text",
      "id": "logo1_url",
      "label": "Logo 1 url"
    },
    {
      "type": "image_picker",
      "id": "logo2",
      "label": "Logo 2"
    },
    {
      "type": "text",
      "id": "logo2_url",
      "label": "Logo 2 url"
    },
    {
      "type": "image_picker",
      "id": "logo3",
      "label": "Logo 3"
    },
    {
      "type": "text",
      "id": "logo3_url",
      "label": "Logo 3 url"
    },
    {
      "type": "image_picker",
      "id": "logo4",
      "label": "Logo 4"
    },
    {
      "type": "text",
      "id": "logo4_url",
      "label": "Logo 4 url"
    },
    {
      "type": "image_picker",
      "id": "logo5",
      "label": "Logo 5"
    },
    {
      "type": "text",
      "id": "logo5_url",
      "label": "Logo 5 url"
    },
    {
      "type": "image_picker",
      "id": "logo6",
      "label": "Logo 6"
    },
    {
      "type": "text",
      "id": "logo6_url",
      "label": "Logo 6 url"
    },
    {
      "type": "image_picker",
      "id": "logo7",
      "label": "Logo 7"
    },
    {
      "type": "text",
      "id": "logo7_url",
      "label": "Logo 7 url"
    },
    {
      "type": "image_picker",
      "id": "logo8",
      "label": "Logo 8"
    },
    {
      "type": "text",
      "id": "logo8_url",
      "label": "Logo 8 url"
    },
    {
      "type": "image_picker",
      "id": "logo9",
      "label": "Logo 9"
    },
    {
      "type": "text",
      "id": "logo9_url",
      "label": "Logo 9 url"
    },
    {
      "type": "image_picker",
      "id": "logo10",
      "label": "Logo 10"
    },
    {
      "type": "text",
      "id": "logo10_url",
      "label": "Logo 10 url"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom HTML",
      "settings": {}
    }
  ]
}
{% endschema %}
