<section class="Section Section--spacingNormal" id="section-{{ section.id }}" data-section-type="article-list" data-section-id="{{ section.id }}">
    <div class="Container">

        <div class="ArticleListWrapper">
            <div class="ArticleList Grid Grid--m grid_cen Grid--center Section--social-media-block">
                <h3 class="SectionHeader__SubHeading Heading u-h6">Follow Us On</h3>
                <h2 class="SectionHeader__Heading Heading u-h1 Custom__Heading1">SOCIAL MEDIA</h2>
                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: article.image -%}{%- endcapture -%}
                {%- assign image_url = section.settings.facebook_image | img_url: 'master' -%}
                {%- assign logo_url = section.settings.logo_1 | img_url: '60x' -%}
                <div id="sm_grid_wrapper">
                    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up ">
                        <div class="social_title">{{ section.settings.facebook_title }}</div>
                        <article class="ArticleItem social-item">
                            <div class="social-channels--icon">
                                <img src="{{ logo_url }}" width="30px">
                            </div>
                            <a href="{{ section.settings.facebook_url }}" target="_blank" class="ArticleItem__ImageWrapper AspectRatio AspectRatio--withFallback"
                               style="background: url({{ section.settings.facebook_image | img_url: '1x1', format: 'jpg' }}); margin-bottom: 0; --aspect-ratio: 1">
                                <img class="ArticleItem__Image Image--lazyLoad Image--fadeIn"
                                     data-src="{{ image_url }}"
                                     data-widths="[{{ supported_sizes }}]"
                                     data-sizes="600px"
                                     alt="">

                                <noscript>
                                    <img class="ArticleItem__Image" src="{{ 'password.jpg' | asset_img_url: '600x' }}" alt="">
                                </noscript>
                            </a>
                        </article>
                    </div>
                    {%- assign image_url = section.settings.instagram_image | img_url: 'master' -%}
                    {%- assign logo_url = section.settings.logo_2 | img_url: '60x' -%}
                    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up ">
                        <div class="social_title">{{ section.settings.instagram_title }}</div>
                        <article class="ArticleItem social-item">
                            <div class="social-channels--icon">
                                <img src="{{ logo_url }}" width="30px">
                            </div>

                            <a href="{{ section.settings.instagram_url }}" target="_blank" class="ArticleItem__ImageWrapper AspectRatio AspectRatio--withFallback"
                               style="background: url({{ section.settings.instagram_image | img_url: '1x1', format: 'jpg' }}); margin-bottom: 0; --aspect-ratio: 1">
                                <img class="ArticleItem__Image Image--lazyLoad Image--fadeIn"
                                     data-src="{{ image_url }}"
                                     data-widths="[{{ supported_sizes }}]"
                                     data-sizes="auto"
                                     alt="">

                                <noscript>
                                    <img class="ArticleItem__Image" src="{{ 'password.jpg' | asset_img_url: '600x' }}" alt="">
                                </noscript>
                            </a>
                        </article>
                    </div>
                    {%- assign image_url = section.settings.youtube_image | img_url: 'master' -%}
                    {%- assign logo_url = section.settings.logo_3 | img_url: '60x' -%}
                    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up">
                        <div class="social_title">{{ section.settings.youtube_title }}</div>
                        <article class="ArticleItem social-item">
                            <div class="social-channels--icon">
                                <img src="{{ logo_url }}" width="30px">
                            </div>

                            <a href="{{ section.settings.youtube_url }}" target="_blank" class="ArticleItem__ImageWrapper AspectRatio AspectRatio--withFallback"
                               style="background: url({{ section.settings.youtube_image | img_url: '1x1', format: 'jpg' }}); margin-bottom: 0; --aspect-ratio: 1">
                                <img class="ArticleItem__Image Image--lazyLoad Image--fadeIn"
                                     data-src="{{ image_url }}"
                                     data-widths="[{{ supported_sizes }}]"
                                     data-sizes="auto"
                                     alt="">

                                <noscript>
                                    <img class="ArticleItem__Image" src="{{ 'password.jpg' | asset_img_url: '600x' }}" alt="">
                                </noscript>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Media Social Blocks",
  "settings": [
    {
      "type": "image_picker",
      "id": "facebook_image",
      "label": "Facebook Image",
      "info": "800 x 800px .jpg recommended"
    },
    {
      "type": "text",
      "id": "facebook_url",
      "label": "Facebook Url"
    },
    {
      "type": "text",
      "id": "facebook_title",
      "label": "Facebook Title"
    },
    {
      "type": "image_picker",
      "id": "instagram_image",
      "label": "Instagram Image",
      "info": "800 x 800px .jpg recommended"
    },
    {
      "type": "text",
      "id": "instagram_url",
      "label": "Instagram Url"
    },
    {
      "type": "text",
      "id": "instagram_title",
      "label": "Instagram Title"
    },
    {
      "type": "image_picker",
      "id": "youtube_image",
      "label": "Youtube Image",
      "info": "800 x 800px .jpg recommended"
    },
    {
      "type": "text",
      "id": "youtube_url",
      "label": "Youtube Url"
    },
    {
      "type": "text",
      "id": "youtube_title",
      "label": "Youtube Title"
    },
    {
      "type": "image_picker",
      "id": "logo_1",
      "label": "Logo 1",
      "info": "30 x 30px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_2",
      "label": "Logo 2",
      "info": "30 x 30px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_3",
      "label": "Logo 3",
      "info": "30 x 30px .png recommended"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Social Media Blocks",
      "settings": {}
    }
  ]
}
{% endschema %}

