:root {
  --primary: #fafafa;
  --whirl_second: #f9690e; }

/* undo BS */
.row {
  margin-left: 0;
  margin-right: 0; }

.col {
  margin-right: 0;
  padding-right: 0; }

/* undo BS */
/* fix shopify */
#shopify-section-footer {
  float: left;
  width: 100%; }

img {
  max-width: inherit; }

.Button--secondary {
  color: white !important; }

/* fix shopify END */
#bb_wrapper {
  width: 100%;
  float: left;
  font-family: "New York", "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 10px;
  margin-bottom: 50px; }

.w100 {
  width: 100%; }

.text_center {
  text-align: center; }

.text_bold {
  font-weight: bold; }

.br {
  display: inline-block;
  width: 100%;
  height: 50px; }

div.f_none, .f_none, #bb_wrapper .f_none {
  float: none; }

.bi {
  color: #B79561; }

/*bootstrap icons*/
.col-05 {
  flex: 0 0 auto;
  width: 4.166666665%; }

.clickable {
  cursor: pointer; }

button.del {
  background-image: url("del.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  background-size: 30px 30px; }

button.detail_f {
  border-style: solid;
  border-width: 1px; }

span.del {
  background-image: url("del.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
  display: inline-block;
  background-size: 30px 30px;
  opacity: 0; }

a#change_box_size_a {
  border-bottom: dotted 1px green;
  cursor: pointer; }

.bb_wrapper button, .bb_wrapper select.button, .bb_wrapper span.select2-selection--single {
  background-color: #B79561;
  position: relative;
  display: inline-block;
  padding: 10px 22px;
  line-height: normal;
  text-transform: uppercase;
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 12px));
  text-align: center;
  letter-spacing: 0.2em;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial; }
  .bb_wrapper button.reverse, .bb_wrapper select.button.reverse, .bb_wrapper span.select2-selection--single.reverse {
    background-color: white;
    border-color: #B79561;
    color: #B79561; }
  .bb_wrapper button:hover, .bb_wrapper select.button:hover, .bb_wrapper span.select2-selection--single:hover {
    opacity: 0.6; }
  .bb_wrapper button[disabled], .bb_wrapper select.button[disabled], .bb_wrapper span.select2-selection--single[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666; }

.bigtext {
  font-size: 110%;
  font-weight: bold; }

.subtitle {
  margin-bottom: 40px; }

/**************** loader https://whirl.netlify.app/  */
.basic:before {
  content: '';
  display: block;
  height: 50px;
  width: 50px;
  -webkit-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  border: 6px var(--primary) solid;
  border-left-color: var(--whirl_second);
  border-radius: 100%; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/**************** loader END */
/**
Add this to the container. Overlay
 */
#loading {
  opacity: 0.7;
  filter: alpha(opacity=20);
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  display: flex;
  padding-top: 200px; }

.step {
  float: left;
  font-size: 125%;
  width: 100%;
  text-transform: capitalize;
  background-color: white;
  border: 1px solid #B79561;
  padding: 24px;
  margin-top: 30px;
  margin-bottom: 30px; }
  .step > span {
    display: inline-block;
    height: 35px;
    line-height: 35px; }
  .step span.left {
    color: #000000;
    text-transform: uppercase; }
  .step span.right {
    float: right;
    color: #8A8A8A; }
  .step button, .step select.button, .step select.select2-selection--single {
    font-size: 50%;
    line-height: 14px;
    vertical-align: top;
    padding: 10px 8px;
    font-weight: bold; }

/* choicesjs */
div.choices__inner {
  display: none; }

div.choices {
  position: absolute;
  width: 30vw;
  right: 2%; }

@media (max-width: 900px) {
  div.choices {
    position: absolute;
    width: 95vw;
    left: 2.5%; } }

div.choices__inner {
  width: 120px;
  float: right;
  font-family: var(--heading-font-family);
  font-size: 78%;
  line-height: 14px;
  vertical-align: top;
  padding: 0;
  font-weight: bold;
  color: white;
  background: #B79561;
  height: 28px;
  min-height: 28px;
  max-height: 28px; }

.choices__list.choices__list--single .choices__item.choices__item--selectable {
  line-height: 28px;
  background-image: url("caret_down.svg"); }

.choices__list.choices__list--dropdown {
  border-radius: 16px;
  margin-top: 8px;
  z-index: 2; }

.choices__list--single {
  padding: 0; }

.choices[data-type*=select-one]::after {
  display: none; }

/* choicesjs end */
#edit_size_btn {
  width: 125px;
  text-align: left; }

#edit_size_btn::before {
  background-image: url("caret_down.svg");
  background-repeat: no-repeat;
  background-position: right 6px center; }

#caret_wrapper {
  height: 28px; }

#caret_down {
  height: 10px;
  position: absolute;
  right: 32px;
  z-index: 2;
  margin-top: 6px; }

#edit_size_btn_wrapper.dropdown_open #caret_down {
  transform: rotate(180deg); }

@media (max-width: 900px) {
  .step {
    background-color: inherit;
    text-transform: uppercase;
    text-align: center;
    padding: 4px; }
    .step span.right {
      text-transform: none;
      line-height: 23px; }
    .step button, .step select.button, .step select.select2-selection--single, .step span.select2-selection--single {
      margin-left: 30px;
      line-height: 5px; } }

span.select2.select2-container.select2-container--default {
  width: 150px !important; }

span.select2-dropdown {
  position: fixed;
  width: 90vw !important;
  left: 5% !important;
  margin-top: 8px; }

span.select2-dropdown, ul.select2-results__options {
  border-radius: 14px !important; }

.select2-container--default .select2-selection--single {
  border: 0;
  border-radius: 0; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0; }

span.select2-selection__rendered {
  color: white !important;
  line-height: 27px !important;
  top: 0;
  margin-top: -9px;
  font-size: 70%;
  font-weight: bold;
  font-style: var(--heading-font-style); }

span.step_num {
  margin-right: 10px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 18px;
  width: 35px;
  display: inline-block;
  text-align: center;
  font-size: 130%;
  font-weight: bold; }

div#sizes {
  float: left;
  width: 100%; }

div.size {
  width: 25%;
  float: left;
  padding: 20px 20px;
  text-align: center; }
  div.size div {
    float: initial; }
  div.size img {
    width: 100%; }

@media (max-width: 900px) {
  div.size {
    width: 50%;
    padding: 8px 8px; } }

#box_content_m {
  padding: 0;
  overflow-x: scroll; }
  #box_content_m button.cont_next_step {
    position: sticky;
    left: 0; }

#bc_wrapper_sticky {
  position: sticky;
  top: 10px; }

.bc_wrapper {
  margin-top: 100px;
  border: 1px solid #B79561;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.bc_wrapper_m {
  margin-top: 20px;
  border: none; }

.bc_wrapper div {
  margin: 5px; }

div.selected_f {
  float: left;
  width: 124px;
  height: 124px;
  border-style: solid;
  border-width: 1px;
  border-radius: 62px;
  border-color: #B79561;
  background-size: cover;
  cursor: pointer; }
  div.selected_f:not([data-f]), div.selected_f[data-f="-1"] {
    background: linear-gradient(to right, #B79561, #f6f1d3); }
    div.selected_f:not([data-f]) > span.del, div.selected_f[data-f="-1"] > span.del {
      opacity: 0; }
  div.selected_f > button {
    left: 34px;
    background: transparent;
    top: 41px;
    display: none; }
    div.selected_f > button:hover {
      display: inherit;
      opacity: 1; }
  div.selected_f:hover > span.del {
    opacity: 1; }
  div.selected_f:not([data-f]):hover > span.del, div.selected_f[data-f="-1"]:hover > span.del {
    display: inherit;
    opacity: 0; }

@media (max-width: 900px) {
  div.selected_f {
    border: none;
    width: 50px;
    display: inline-block;
    height: 50px;
    margin-left: 8px;
    border-radius: 3px; }
    div.selected_f > span.del {
      opacity: 1;
      height: 15px;
      width: 15px;
      top: -13px;
      left: 42px;
      position: relative;
      background-size: 15px 15px; }
    div.selected_f[data-f="-1"] > span.del {
      opacity: 0; } }

div.selected_f[data-f="1"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/cocoa_nib_nougat.png?v=1660019184"); }

div.selected_f[data-f="2"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/Orange_Pistachio.png?v=1660023145"); }

div.selected_f[data-f="3"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/White_Cherry_Ganache.png?v=1660023451"); }

div.selected_f[data-f="4"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/matcha_hojicha.png?v=1660023759"); }

div.selected_f[data-f="5"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/Hazelnut_Praline.png?v=1660024299"); }

div.selected_f[data-f="6"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/caramelized_Pecan.png?v=1660024616"); }

div.selected_f[data-f="7"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/Banana_Foster.png?v=1660024871"); }

div.selected_f[data-f="8"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/Lemon_Caramel.png?v=1660025149"); }

div.selected_f[data-f="9"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/Apple_Pie.png?v=1660025488"); }

div.selected_f[data-f="10"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0523/0051/3467/files/Madagascar_Vanilla.png?v=1660025760"); }

button#cont_next_step {
  float: right; }

#box_content {
  flex: 0 0 auto; }

#box_content[size="6"], #box_content[size="9"], #box_content[size="12"], #box_content[size="24"] {
  width: 41.66666667%; }
  #box_content[size="6"] + #flavor_picker, #box_content[size="9"] + #flavor_picker, #box_content[size="12"] + #flavor_picker, #box_content[size="24"] + #flavor_picker {
    width: 58%; }

#box_content[size="12"] div.selected_f, #box_content[size="24"] div.selected_f {
  width: 100px;
  height: 100px; }

#box_content[size="20"] {
  width: 50%; }
  #box_content[size="20"] + #flavor_picker {
    width: 49%; }
  #box_content[size="20"] div.selected_f {
    width: 100px;
    height: 100px; }

@media (min-width: 900px) {
  #box_content {
    display: block; }
  #box_content_m_wrapper {
    display: none; } }

@media (max-width: 900px) {
  div.subtitle {
    margin-bottom: 0; }
  #box_content {
    display: none; }
  #box_content_m_wrapper {
    display: block; } }

#flavor_picker {
  width: 58%; }

@media (max-width: 900px) {
  #flavor_picker {
    width: 100%;
    flex: none; }
    #flavor_picker > div.bigtext, #flavor_picker > div.subtitle {
      display: none; } }

#f_tags {
  margin-bottom: 10px;
  width: 100%;
  text-align: center; }
  #f_tags a.Heading {
    text-transform: uppercase;
    cursor: pointer; }

#flavors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

@media (min-width: 900px) {
  #cont_step_3_below_flavor {
    display: none !important; } }

@media (max-width: 900px) {
  #flavors {
    max-height: 471px;
    overflow: scroll; } }

button.RoundButton {
  position: absolute;
  padding: 0;
  width: 25px;
  height: 25px;
  top: 19px;
  right: 5px;
  border: none;
  border-radius: 50%;
  background: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 10px #36363626;
  vertical-align: middle;
  line-height: 0;
  transform: scale(1.001);
  transition: background .15s ease-in-out,opacity .15s ease-in-out,transform .2s ease-in-out,color .2s ease-in-out;
  overflow: hidden; }

@media (min-width: 900px) {
  button.RoundButton {
    display: none; } }

div.flavor {
  width: 25%;
  position: relative;
  cursor: pointer;
  float: left;
  padding: 5px 0 5px 5px;
  text-align: center; }
  div.flavor > img {
    width: 100%; }
    div.flavor > img:hover {
      opacity: 0.8; }
  div.flavor > span:hover {
    opacity: 0.8; }
  div.flavor button.add_detail_btn {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    padding: 2px; }
  div.flavor > span.f_count {
    position: absolute;
    right: 12px;
    top: 20px;
    background-color: #41200E;
    border-radius: 16px;
    line-height: 20px;
    width: 20px;
    font-size: 0.75rem;
    color: white; }

@media (max-width: 1007px) {
  div.flavor {
    width: 50%; }
    div.flavor button.add_f.add_detail_btn {
      display: none; }
    div.flavor > span.f_count {
      line-height: 16px;
      width: 16px;
      font-size: 0.6rem;
      left: 12px; } }

#flavors_border_m {
  display: none; }

@media (max-width: 980px) {
  #flavors_border_m {
    display: block;
    background: #F7C591;
    background: linear-gradient(to top, #B79561 0%, #F7C591 86%);
    height: 7px;
    margin-left: 7px; } }

span.f_name {
  height: 40px;
  font-size: 1em;
  line-height: 1.1em;
  display: block; }

@media (max-width: 900px) {
  span.f_name {
    height: 60px; } }

#step_sleeve {
  margin-top: 49px; }

#sleeves {
  display: flex;
  flex-wrap: wrap; }

#sum_sleeve {
  margin-bottom: 20px; }

div.sleeve {
  width: 20%;
  padding: 20px; }
  div.sleeve > img {
    width: 100%; }

@media (max-width: 900px) {
  div.sleeve {
    width: 50%;
    padding: 8px; } }

.center_wrapper {
  text-align: center;
  width: 100%; }

button.sleeve_btn {
  margin: 20px auto; }

button.tiny {
  padding: 2px;
  border-radius: 15px;
  line-height: 10px;
  letter-spacing: inherit; }

.modal {
  position: fixed;
  width: 565px;
  border: 1px solid #B79561;
  background-color: white;
  z-index: 11;
  top: 50%;
  left: 50%;
  padding: 25px; }
  .modal button {
    margin-top: 20px; }

.modal_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important; }

@media (max-width: 900px) {
  .modal {
    width: 95%;
    overflow: hidden;
    left: 0;
    padding: 8px;
    margin-left: 2.5%;
    top: 79px;
    margin-top: 0; } }

@media (min-width: 900px) {
  #edit_my_box_modal {
    left: 0;
    right: 0;
    margin: 5% auto;
    top: 0; } }

#all_filled_modal {
  margin-left: -200px;
  margin-top: -60px; }

@media (max-width: 900px) {
  #all_filled_modal {
    margin-left: 2.5%;
    margin-top: inherit; } }

/*Detail popup*/
#detail_wrapper {
  margin-top: -100px;
  margin-left: -270px; }
  #detail_wrapper #dtl_heading {
    font-size: 120%;
    padding-left: 15px;
    display: flex;
    clear: both; }

@media (max-width: 900px) {
  #detail_wrapper {
    margin-top: 0;
    margin-left: 2.5%; } }

#detail {
  padding: 25px 0 25px 25px;
  display: flex; }

@media (max-width: 900px) {
  #detail {
    padding: 3px; }
  #detail_wrapper #dtl_heading, #detail_wrapper #dtl_description {
    padding: 0; } }

#dtl_description {
  padding: 15px; }

.modal > button.del {
  position: absolute;
  float: none;
  right: 11px;
  top: -13px;
  width: 30px;
  height: 30px;
  z-index: 200;
  background-image: url("del.png");
  transition: none; }

#dtl_select {
  display: flex;
  clear: both;
  padding: 15px; }

div.gs__wrapper {
  display: none; }

.md_heading {
  font-size: 120%; }

.md_subtitle_big {
  font-size: 120%;
  color: #B79561;
  font-weight: bold; }

#prod_summary {
  text-align: center; }
  #prod_summary button {
    width: 250px; }

.vert_align {
  display: table; }
  .vert_align > span {
    display: table-cell;
    vertical-align: middle; }
  .vert_align.zero_selected {
    display: none; }

/* Edit Popup */
#edpop_wrapper {
  padding: 0;
  max-height: 45vh;
  overflow-y: scroll; }
  #edpop_wrapper > div > span {
    padding: 0;
    height: 40px;
    text-align: center; }
    #edpop_wrapper > div > span > img {
      height: 50px; }
  #edpop_wrapper > div > span:first-child {
    width: 50px; }
  #edpop_wrapper > div > span:nth-child(2) {
    width: 150px; }

#edit_my_box_modal {
  max-width: 400px; }
  #edit_my_box_modal .md_heading, #edit_my_box_modal .md_subtitle_big {
    margin-block-end: 0; }

.edpop_del {
  color: #737373;
  /*
  height: 30px;
  width: 30px;
  scale: 0.65;
  margin-top:4px !important;
  */ }

#gsAppContainer {
  display: none !important; }

/*# sourceMappingURL=bb.css.map */