.AnnouncementBar__Content-Underline {
  text-decoration: underline;
  font-weight:  bold;
}
.AnnouncementBar__Content.Heading {
  	text-transform: initial;
  	letter-spacing: initial;
  	font-size: 17px;
}
.section-announcement {
    background: #a1d3b0;
    color: #000000;
}
.SectionHeader__Heading.Heading.u-h1.Custom__Heading {
	font-size: 31px;
  	text-transform: initial;
  	letter-spacing: initial;
}
.Testimonial__Custom {
	color: #92B63B;
}
.ProductMeta__Title.Heading.u-h2 {
	text-transform: initial;
  	letter-spacing: initial;
  	font-size: 30px;
}
.Testimonial__Content {
    font-family: "New York", "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  	font-size: 28px
}
.ProductItem__Title.Heading a {
	text-transform: initial;
  	letter-spacing: initial;
  	font-size: 19px;
}
.Article__Title.Heading.u-h1 {
  	text-transform: initial;
  	letter-spacing: initial;
  	font-size: 35px;
}
.ArticleItem__Title.Heading.u-h2 {
	font-size: 27px;
  	text-transform: initial;
  	letter-spacing: initial;
}
.ImageHero__BlockHeading.Heading.u-h2 {
	font-size: 38px;
  	text-transform: initial;
  	letter-spacing: initial;
}
.Faq__Question {
  	font-weight:  bold;
  	color: #92B63B;
  	text-decoration: underline;
}
.ImageHero__BlockContent.Rte {
	font-size: 18px;
}
.rating__stars {
	color: #B79561;
}
.rating__caption {
  	text-transform: initial;
  	letter-spacing: initial;
}
.CartItem__Title.Heading {
  	font-size: 14px;
  	text-transform: initial;
  	letter-spacing: initial;
}
@media screen and (max-width: 1007px){
  .CartItem__Title.Heading {
  	font-size: 12px;
  	text-transform: initial;
  	letter-spacing: initial;
  }
  .SectionHeader__Heading.Heading.u-h1.Custom__Heading1 {
      font-size: 24px;
  }
  .ProductItem__Title.Heading a {
      text-transform: initial;
      letter-spacing: initial;
      font-size: 15px;
  }

  .ArticleItem__Title.Heading.u-h2 {
      font-size: 24px;
      text-transform: initial;
      letter-spacing: initial;
  }
  .ProductMeta__Title.Heading.u-h2 {
      text-transform: initial;
      letter-spacing: initial;
      font-size: 30px;
  }
  .Article__Title.Heading.u-h1 {
      text-transform: initial;
      letter-spacing: initial;
      font-size: 30px;
  }
  .AnnouncementBar__Content.Heading {
      text-transform: initial;
      letter-spacing: initial;
      font-size: 13px;
  }
  .ImageHero__BlockHeading.Heading.u-h2 {
      font-size: 27px;
      text-transform: initial;
      letter-spacing: initial;
  }

  .ImageHero__BlockContent.Rte {
      font-size: 16px;
  }
  .SectionHeader__Heading.Heading.u-h1.Custom__Heading {
      font-size: 24px;
      text-transform: initial;
      letter-spacing: initial;
  }
  .Testimonial__Content {
      font-size: 20px;
  }
}
.Testimonial__Custom {
  color: #92B63B;
}
.Faq__Question {
  font-weight:  bold;
  color: #92B63B;
  text-decoration: underline;
}
.ArticleItem__Link.Link.Link--underline {
  color: #92B63B;
}
.Link.Link--underline {
  color: #92B63B;
}
.SectionHeader__Heading.SectionHeader__Heading.SectionHeader__Custom {
	font-size: 55px;
  	text-transform: initial;
  	letter-spacing: initial;
}
section[data-section-type="collection"] .Grid__Cell .ProductItem__Info, .ProductItem .ProductItem__Info{
  	min-height: 83px;
  }
@media (max-width: 1007px){
  .SectionHeader__Heading.SectionHeader__Heading.SectionHeader__Custom {
	font-size: 35px;
  	text-transform: initial;
  	letter-spacing: initial;
}
  .ProductForm__AddToCart {
  	font-size: 12px;
  }
  section[data-section-type="collection"] .Grid__Cell .ProductItem__Info, .ProductItem .ProductItem__Info {
  	min-height: 104px;
  }
}

.social-channels--icon {
	position: absolute;
    top: -6px;
    left: -6px;
    background: #fff;
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.social-item {
	position: relative;
  	border: 6px solid #fff;
  	box-shadow: 0 0 0 1px #d5ac5b;
    border-radius: 10px;
}
.social-channels--icon img {
	margin: 8px;
}

.Section--social-media-block .Grid__Cell {
	padding-top: 8px;
    padding-left: 8px;
  	padding-right: 8px;
}
.ProductItem__Info .jdgm-preview-badge[data-template="index"] {
	display: block !important;
}
/** BN custom */
aside.NewsletterPopup {
    background-image: url("popup0617.jpg");
    background-size: cover;
    width: 540px;
    max-width: 540px;
    height: 539px;

}
form.NewsletterPopup__Form{
    position: absolute;
    bottom: 34px;
    width: 80%;
    margin-left: 5%;
}
button.NewsletterPopup__Close{
    right: 10px;
    top: 10px;
    color: transparent;
}

@media screen and (max-width: 1007px) {
    aside.NewsletterPopup{
        width: 360px;
        height: 360px;
        bottom: max(15px,env(safe-area-inset-bottom,0px) + 100px);
    }
}
@keyframes scroll {
    from{transform: translateX(0px)}
    to{transform: translateX(-1290px)}
}
div.logos{
    max-width: 100%;
/*    display: flex;
    overflow: hidden;
    animation: 30s linear 0s infinite normal none running scroll*/
}
div.logos > div > img{
    padding-left: 30px;
    height: 120px;
}
#gs__toggle-box{
    /*font-weight: bold; */
}
#gsMultishippingPage{
    padding-top: 115px;
    padding-bottom: 5px;
}
@media (min-width: 670px) {
    div.ImageHero__VideoHolder{
        width: 100%;
        height: 484px;
    }
    #bgvid_div_wrapper iframe, #bgvid_div_wrapper embed {
    }
}
#gsMultiContinue{
    font-weight: bold;
    text-transform: uppercase;
    background-color: #B79561;
    color: white;
}

.bgvid_unmute_btn,.bgvid_unmute_btn_mob,.bgvid_unmute_btn_btm {
    position: absolute;
    z-index: 5;
    background-color: transparent;
    padding: 3px;
    background-size: contain;
    background-image: url("play-icon.svg");
    width: 80px;
    height: 80px;
}
.bgvid_unmute_btn{
    left: 48%;
    top: 380px;
}
.bgvid_unmute_btn_mob{
    left: 42%;
    top: 340px;
}
.bgvid_unmute_btn_btm{
    left: 48%;
    position: relative;
    top: 340px;
}
#bgvid_div_wrapper iframe, #bgvid_div_wrapper embed{
  left: 0;
  width: 100%;
  height: 100%;
}
span.vp-unmute-button-title{
    display: none;
}
video.home-carousel__video-video, video.home-carousel__video-video_mob, video.home-carousel__video-video_btm{
    width: 100%;
    object-fit: cover;
}
video.home-carousel__video-video_btm{
    margin-top: -86px;
}

@media (max-width: 1007px) {
    div.js-section__home-slider{display: none}
}
@media (min-width: 803px) {
    div.home_slider_mobile{display: none}
}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    /*animation: marquee 5s linear infinite;*/
    animation: 30s linear 0s infinite normal none running marquee;
    /*animation-play-state: paused;*/
}
.marquee__inner img{
    cursor: pointer;
}

.marquee span {
    font-size: 10vw;
    padding: 0 2vw;
}
/*

.marquee:hover .marquee__inner {
    animation-play-state: running;
}
*/

@keyframes marquee {
/*    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }*/
    from{transform: translateX(0px)}
    to{transform: translateX(-1290px)}

}

@media screen and (max-width: 1007px) {
    #gsModalContainer .gs__group-wrapper table td.gs__cart-image-wrapper, #gsMultishippingPage .gs__group-wrapper table td.gs__cart-image-wrapper{
        padding-right: 5px;
        padding-top: 15px;
        vertical-align: top;
    }
    .ImageHero--preserveRatio{
        height: auto;
    }
    .ImageHero__VideoHolder{
        width: 100%;
        height: 483px;
    }
    .bgvid_unmute_btn{
        margin-left: -36px;
    }
    video.home-carousel__video-video_btm {
    }
    .bgvid_unmute_btn_btm{
        top: 67px;
        left: 39%;
        position: relative;
    }
}

div.social_title{
    text-align: center;
    font-size: 130%;
    margin-bottom: 30px;
}
div.Section--social-media-block > h2 {margin-bottom: 0}
div.Section--social-media-block > div.Grid__Cell{
    padding-left: 28px;
}

div.grid_cen{
    margin-left: 0;
}
@media (min-width: 1080px) {
    div.shopify-section.home_slider_btm {
        margin-left: 6%;
        margin-right: 6%;
        padding-top: 80px;
    }
}
/** BN custom END */

.AnnouncementBar {
background: rgb(245,231,147);
background: linear-gradient(270deg, rgba(245,231,147,1) 0%, rgba(229,219,159,1) 9%, rgba(187,214,123,1) 89%);
}

@media (min-width: 900px) {
 #rtag_wrapper {display: none}
}
.Carousel__Cell.Carousel__Cell_sml {
  display: inline-block;
  width: inherit;
}
@media (max-width: 1007px) {
    #rtag_wrapper{margin-top: 8px;}

    #rtag_wrapper > a > img {
        max-width: 90px;
        border-radius: 45px;
        border-color: #B79561;
        border-style: solid;
        border-width: 2px;
    }

    #rtag_wrapper.Carousel{
        white-space: nowrap;
        overflow: auto;
    }
    #rtag_wrapper .Carousel__Cell {
        margin-left: 8px;
        display: inline-block !important;
    }
}
div.blogs > div.Grid__Cell{

}
.slick-dots li button{

}
.slick-dots li button:before{
  font-size: 12px;
}
#shopify-section-template--15251417923771__16392833503e6bf072{
  margin-bottom: 20px;
}
.shop-button {
  background-color: #1d6b09;
  text-color: white;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
}