<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow">
    <div class="Rte">
      {{- page.content -}}

      {%- form 'contact', class: 'Form Form--spacingTight' -%}
        {%- if form.posted_successfully? -%}
          <p class="Alert Alert--success">{{ 'contact.form.successfully_sent' | t }}</p>
        {%- endif -%}

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <div class="Form__Group">
          <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[first_name]" aria-label="First Name" placeholder="First Name" required {% if customer %}value="{{ customer.first_name }}"{% endif %}>
            <label class="Form__FloatingLabel">First Name</label>
          </div>
          <div class="Form__Item">
            <input type="text" class="Form__Input" name="contact[last_name]" aria-label="Last Name" placeholder="Last Name" required {% if customer %}value="{{ customer.last_name }}"{% endif %}>
            <label class="Form__FloatingLabel">Last Name</label>
          </div>
        </div>
        <div class="Form__Item">
          <input type="email" class="Form__Input" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" placeholder="Email *" required
                 {% if customer %}value="{{ customer.email }}"{% endif %}>
          <label class="Form__FloatingLabel">{{ 'contact.form.email' | t }}</label>
        </div>
        <div class="Form__Item">
          <input type="text" class="Form__Input" name="contact[phone_number]" aria-label="Phone Number" placeholder="Phone Number" {% if customer %}value="{{ customer.phone_number }}"{% endif %}>
          <label class="Form__FloatingLabel">Phone Number</label>
        </div>
        <div class="Form__Item">
          <input type="text" class="Form__Input" name="contact[company]" aria-label="Company" placeholder="Company Name" {% if customer %}value="{{ customer.company_name }}"{% endif %}>
          <label class="Form__FloatingLabel">Company Name</label>
        </div>
        <div class="Form__Item">
          <div class="Form__Select Select Select--primary">
            {%- render 'icon' with 'select-arrow' -%}

            <select name="contact[preferred_contact_method]" title="{{ block.settings.title | escape }}" required>
              <option value="" disabled selected>Preferred Contact Method *</option>
              <option value="email">Email</option>
              <option value="phone">Phone</option>
            </select>
          </div>
        </div>
        <div class="Form__Item">
          <input type="text" class="Form__Input" name="contact[products_of_interest]" aria-label="Company" placeholder="Products Of Interest"
                 {% if customer %}value="{{ customer.products_of_interest }}"{% endif %}>
          <label class="Form__FloatingLabel">Products Of Interest *</label>
        </div>
        <div class="Form__Item">
          <input type="text" class="Form__Input" name="contact[qty_requested]" aria-label="Qty req" placeholder="Quantity Requested"
                 {% if customer %}value="{{ customer.qty_requested }}"{% endif %}>
          <label class="Form__FloatingLabel">Quantity Requested, e.g. 50 boxes *</label>
        </div>
        <div class="Form__Item has_date">
          <input type="date" class="Form__Input" name="contact[expected_deliver_date]" aria-label="Exp Deliver Date" placeholder="Expected Deliver Date"
                 {% if customer %}value="{{ customer.expected_deliver_date }}"{% endif %}>
          <label class="Form__FloatingLabel">Approximate Date You'd like your recipients to receive their gifts *</label>
        </div>
        {%- for block in section.blocks -%}
          {%- assign field_title = block.settings.title -%}

          {%- if field_title == blank -%}
            {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
          {%- endif -%}

          {%- if block.type == 'text' -%}
            <div class="Form__Item">
              {%- if block.settings.use_long_text -%}
                <textarea name="contact[{{ field_title | escape }}]" cols="30" rows="10" class="Form__Textarea" aria-label="{{ block.settings.title | escape }}"
                          placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
                <label class="Form__FloatingLabel">{{ block.settings.title | escape }}</label>
              {%- else -%}
                <input type="text" class="Form__Input" name="contact[{{ field_title | escape }}]" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}"
                       {% if block.settings.is_required %}required{% endif %}>
                <label class="Form__FloatingLabel">{{ block.settings.title | escape }}</label>
              {%- endif -%}
            </div>
          {%- elsif block.type == 'dropdown' -%}
            {%- assign values = block.settings.values | split: ',' -%}

            {%- if values == empty -%}
              {%- continue -%}
            {%- endif -%}

            <div class="Form__Item">
              <div class="Form__Select Select Select--primary">
                {%- render 'icon' with 'select-arrow' -%}

                <select name="contact[{{ field_title | escape }}]" title="{{ block.settings.title | escape }}" required>
                  <option value="" disabled selected>{{ block.settings.title | escape }}</option>

                  {%- for value in values -%}
                    {%- assign trim_value = value | strip -%}

                    <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}

        <div class="Form__Item">
          <textarea name="contact[body]" cols="30" rows="10" class="Form__Textarea" aria-label="{{ 'contact.form.message' | t }}" placeholder="{{ 'contact.form.message' | t }}" required></textarea>
          <label class="Form__FloatingLabel">{{ 'contact.form.message' | t }}</label>
        </div>

        <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'contact.form.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</div>
<style>
  @media (max-width: 900px) {
      div.Form__Item.has_date {
        margin-top: 40px;
      }
  }
</style>
